# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings folder
.vscode/

# NuGet packages
*.nupkg
*.snupkg
packages/

# Rider IDE files (if any)
.idea/

# Others
*.log
